:root {
    --yellow: #FFED00;
    --white: white;
    --blue: rgb(63, 121, 230);
    --card: rgb(244, 244, 244);
}

h1, p {
    font-family:'Roboto Condensed';
}

.sfondo {
    background-image: url('/storage/app/public/images/newspaper2.jpg');
    background-position: top;
    background-size: cover;
}

.div3 {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */

.navbar {
    background-color: var(--white);
    box-shadow: 10px 5px 5px grey;
    font-family:'Roboto Condensed';
}

.navbar2{
    border-color: transparent;
    background-color: transparent;
}


/* CARD */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card {
    margin-bottom: 10%;
    font-family:'Roboto Condensed';
    transition: 0.5s ease-out;
    overflow: visible;
    background-color: var(--card);
}

.card:hover {
    border-color: var(--blue);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

.card-title {
    text-transform: uppercase;
    color: rgb(63, 121, 230);
    text-align: center;
}

.card-title:hover {
    cursor: pointer;
}

.card-text:hover {
    cursor: pointer;
}

.card-a {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
    padding: .5rem .5rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out; 
    text-align: center;
    text-decoration: dotted;
}

.card:hover .card-a {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.card-a:hover{
    color: var(--white);
}

.card-footer {
    margin-bottom: 7%;
    background-color: var(--card);
}

.card-a2, .cat {
    text-decoration: dashed;
}

.button3 {
    font-family:'Roboto Condensed';
    margin-left: 40%;
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: var(--blue);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  


.show {
    font-family:'Roboto Condensed';
}

/* LOGIN AND REGISTER */

.div2 {
    margin-top: 100px;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
}

.heading {
    font-size: 2.5em;
    font-weight: 400;
    margin: 15px 0 30px 0;
  }

  
.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.inputContainer2 {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  
.inputIcon {
    position: absolute;
    left: 10px;
  }

.inputField {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }

  .inputBody {
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }

.inputBody:focus {
    outline: none;
    border-bottom: 2px solid var(--blue);
  }


.inputField:focus {
    outline: none;
    border-bottom: 2px solid var(--blue);
  }

.inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }

#button {
    position: relative;
    width: 100%;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
  }

#button::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
  }

#button:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
  }

.backHome {
  display: flex;
  justify-content: center;
  align-items:center;
}
  